.App {
  text-align: center;
  }


@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto+Mono:ital@0;1&family=Roboto:wght@700&display=swap');


  /* Typography */

 h1{
      font-family:'Roboto Mono', monospace; 
      font-size: 2.5rem;
      color: darkslategray;
    }

 h2{
  font-family:'Roboto Mono', monospace;  
  font-size: 2rem;
  color: maroon;
 }

 h3{
  font-family:'Roboto Mono', monospace;
  font-size: 1.5rem;
  color: darkslategray;
 }

  p{
      font-family:'Roboto Mono', monospace;
      font-size:20px;
      padding-bottom: 100px;
    }
    
 input{
  font-size: 20px;
  text-align: initial;
 }

 form{
  display: inline-block;
 
 }

 button{ font-size: 20px;
    }

 li{
  list-style: none;
 }
   
  
  



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
